@mixin generate-box-shadow() {
  $i: 1;
  $degres: 10 + $i;
  $color: rgba(0, 0, 0, 0.4);
  $a: 0;
  $b: 0;
  $c: 0;
  @while $i <= $degres {
    @if $i % 2 !=0 {
      $b: $b + 2;
    }
    --box#{$i}: #{0px ($i) +"px" $b + "px" $b + "px" $color};
    $i: $i + 1;
  }
}

@mixin elevationTransition(
  $duration: 280ms,
  $easing: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: box-shadow $duration $easing;
  will-change: box-shadow;
}
