@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .body {
    @apply h-screen;
    @apply bg-white text-black;
    @apply dark:bg-gray-900 dark:text-white;
  }
  .btn {
    @apply px-3 py-2 rounded-md;
    @apply bg-blue-400 text-white;
    @apply dark:bg-purple-400 dark:text-white;
  }
  .myinput {
    @apply relative rounded h-10;
  }
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    @apply rounded w-full h-full py-2 transition-all;
  }
  label {
    @apply absolute text-pink-400 bg-white dark:bg-black left-3 transition-all px-1;
    @apply dark:bg-black;
    top: 0%;
    transform: translateY(-50%);
  }
  .empty input:not(focus) + label {
    top: 50%;
    transform: translateY(-50%);
  }
}
