@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .body {
    @apply h-screen overflow-x-hidden relative;
    @apply bg-white text-black;
    @apply dark:bg-gray-900 dark:text-white;
  }
  .btn {
    @apply px-3 py-2 rounded-md;
    @apply bg-blue-400 text-white;
    @apply dark:bg-purple-400 dark:text-white;
  }
  .input-container {
    @apply flex relative h-12 py-1 my-12;
    autocomplete: off;
  }
  span.message {
    bottom: -25%;
    @apply absolute left-3 text-xs;
    @apply text-purple-500;
    autocomplete: off;
  }
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  select {
    @apply rounded w-full h-full transition-all;
    @apply dark:bg-gray-900;
  }
  label {
    top: 0%;
    transform: translateY(-50%);
    @apply absolute left-3 transition-all px-1;
    @apply text-pink-400 bg-white;
    @apply dark:bg-gray-900;
  }
  label.autocomplete {
    transform: translateY(-100%);
  }
  .empty input:not(focus) + label {
    top: 50%;
    transform: translateY(-50%);
  }
}
