@use "sass:color";

$primary-colors: (
  "primary": #c5c5c5,
  "secondary": #ffffff,
  "ternary": #000000,
  "success": #38fa11,
  "info": #099fcc,
  "warning": #da9a11,
  "error": #ec0b0b,
);
$percentages: (
  "": 10%,
  "2": 20%,
  "3": 30%,
  "4": 40%,
  "5": 50%,
);

@mixin generate-colors-gradient($name, $value) {
  $modes: lighten, darken;
  --#{$name}: #{$value};
  @each $mode in $modes {
    @each $deg, $percentage in $percentages {
      @if $mode==darken {
        $percentage: -$percentage;
      }
      --#{$name}-#{$mode}#{$deg}: #{scale-color(
          $value,
          $lightness: $percentage
        )};
    }
  }
}

:root {
  @each $name, $value in $primary-colors {
    @include generate-colors-gradient($name, $value);
  }
}
