//Default balise
.router-link-exact-active {
  .dot {
    visibility: visible !important;
  }
}
.router-link {
  color: inherit;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg) inset !important;
}

.theme--dark,
.theme--light {
  @import "./themes/default.scss";
}

.theme--old {
  @import "./themes/old.scss";
}

blockquote {
  font-family: Ubuntu;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Ubuntu;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
// reset chrome stylesheet
menu {
  display: block;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
// take size of parent
img {
  max-width: inherit;
  max-height: inherit;
  object-fit: contain;
}
