//Default balise
.router-link-exact-active {
  .dot {
    visibility: visible !important;
  }
}
.router-link {
  color: inherit;
}
h1 {
  font-family: Ubuntu;
  font-size: 4vmax;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 4vmax;
}
h2 {
  font-family: Ubuntu;
  font-size: 3.5vmax;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 3.5vmax;
}
h3 {
  font-family: Ubuntu;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 20px;
  display: inline-block;
}
p {
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  word-spacing: 1.2px;
}
blockquote {
  font-family: Ubuntu;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Ubuntu;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
// reset chrome stylesheet
menu {
  display: block;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
// take size of parent
img {
  max-width: inherit;
  max-height: inherit;
  object-fit: contain;
}
