//Custom theme colors
$colors: (
  "fg": #cccccc,
  "bg": #ffffff,
  "primary": #b81b5c,
  "secondary": #fa709a,
  "ternary": #000000,
  "success": #38fa11,
  "info": #099fcc,
  "warning": #fee140,
  "danger": #ec0b0b,
);
@import "../core/scss/colors/light.scss";
$colors: (
  "fg": #1f1e1e,
  "bg": #161313,
  "primary": #5e6fce,
  "secondary": #5e09cc,
  "ternary": #ffffff,
  "success": #1b6e0a,
  "info": #099fcc,
  "warning": #da9a11,
  "danger": #ec0b0b,
);
@import "../core/scss/colors/dark.scss";
//Bootstrap4 default breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 576,
  "md": 768,
  "lg": 992,
  "xl": 1200,
);
@import "../core/scss/grid/breakpoints.scss";
//KeenUI default colors
$fg: map-get($colors, "fg");
$bg: map-get($colors, "bg");
$primary: map-get($colors, "primary");
$secondary: map-get($colors, "secondary");
$ternary: map-get($colors, "ternary");
$info: map-get($colors, "info");
$success: map-get($colors, "success");
$warning: map-get($colors, "warning");
$danger: map-get($colors, "danger");
